@import url("fonts/Montserrat-VariableFont_wght.ttf");

window {
    background-color: white;
    color: black;
    font-family: 'Montserrat';
    font-weight: normal;
}

button, .blue {
    background-color: #0060A1;
    border-radius: 10px;
}

.borders * {
    border: 1px dashed blue
}

.window_grid {
    padding-top: 10px;
    padding-bottom: 10px;
}

#home-button-row .active {
    border: 5px solid black;
    margin: 5px;
}

button:disabled, button:active {
    background-color: #528ab8;;
}

#home-button-row box button {
    margin: 10px;
    min-width: 220px;
    min-height: 220px;
}

* {
    border-width: 0;
    border-style: none;
}